<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update</title>
  </head>
  <body>
    <h1>나의 게시판 수정하기</h1>
    <table>
      <form method="POST">
        <div>
          <label>작성자</label>
          <input
            name="b_writer"
            id="b_writer"
            type="text"
            value="<%- BBS.b_id %>"
          />
        </div>
        <div>
          <label>작성일자</label>
          <input
            name="b_date"
            id="b_date"
            type="text"
            value="<%- BBS.b_date %>"
          />
        </div>
        <div>
          <label>작성시각</label>
          <input
            name="b_time"
            id="b_time"
            type="text"
            value="<%- BBS.b_time %>"
          />
        </div>
        <div>
          <label>제목</label>
          <input
            name="b_subject"
            id="b_subject"
            type="text"
            value="<%- BBS.b_subject %>">
        </div>
        <div>
          <label>내용</label>
          <textarea
            name="b_text"
            id="b_text"
            cols="30"
            rows="5"
          ><%- BBS.b_text %></textarea>
        </div>
        <button class="btn_update">수정</button>
      </form>
  </body>
  <script>
    document.querySelector("button.btn_update").addEventListener("click", () => {
      document.location.href = "/";
    });
  </script>
</html>
